<div class="formato">
                                
    <label for="grado">Grado:  &nbsp;</label>
    <input type="text" name="grado" placeholder="Grado Académico">
    <label for="ins">Institución:  &nbsp;</label>
    <input type="text" name="ins" placeholder="Institución">
    
<div class="d-flex flex-row m-1">
    <div id="inicio" class="fechas">
        <label for="fechaI">Inicio</label>
        <input type="number" name="fechaI" min="1900" max="2099" step="1" value="2014">
    </div>
    
    <div id="fin" class="fechas">
        <label for="fin">Finalización</label>
        <input type="number" name="fin" min="1900" max="2099" step="1" value="2016">
    </div>
    
    &nbsp;
    <button class="btnBorrar" (click)="borrarAca()"><img src="./assets/trash.png" alt=""></button>
</div>
</div>
<br>