
  <div #prin class="habilidades">
    <span>
      <label for="hab">Habilidad:</label>
      <input type="text" [(ngModel)]="datos.datosHabilidades[this.id].habilidad" name="hab" placeholder="Habilidad" />
    </span>

    <div class="subHab">
      <div   class="d-flex flex-column dominio">
        <label>Dominio</label>
        <span class="estrellas"
          ><span><img *ngFor="let item of estrellas; let i=index" src="./assets/star.png" /></span
        ></span>
        <input
          #valor
          (change)="estrellasDominio(valor.value)"
          [(ngModel)]="datos.datosHabilidades[this.id].dominio"
          type="range"
          min="1"
          max="5"
          step="1"
          value="1"
        />
      </div>
      <button class="btnBorrar" (click)="borrar()"><img src="./assets/trash.png" /></button>
    </div>
  </div>
  <br>

