<body>
    <div class="container w-100 alto acomodo ">
        <div class="row  acomodo contenido ">
            <div class="col'12 acomodo ">
                <img class=" imagen" src="./assets/inicio.png" width="400" height="300">
                <div class=" letras">
                    <h2> <span class="typed"> </span></h2>
                    <div>
                        <a routerLink="/crear" class="btnCrear" href="/">Crear Curriculum</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</body>

<!-- <footer class="d-flex flex-row  justify-content-center align-items-center w-100 ">
    <h3><a href="https://github.com/ManyVH" class="manyT">@ManyVH</a>  </h3>
    <img src="./assets/glasses.png" width="20" height="20">
</footer> -->