<body>
    <div class="container w-100 alto acomodoP ">
        <div class="row  acomodo contenido ">
            <div >
                <h3 >Datos para Generar un Curriculums</h3>
                <hr class="lineas">
                <br>
                <div class="ps-3">
                    <h4>Datos Personales</h4>
                    <hr class="lineasC">
                    <div class="ps-3">
                        <section #datosEstaticosP >
                            <div class="datosPE">
                            <label for="Fotografía">Fotografía:  &nbsp;</label>
                            <input type="url" [(ngModel)]="datos.datosPersonales.foto"  name="Fotografía" placeholder="URL">

                            
                            <label for="nombre" class="etiquetas">Nombre:  &nbsp;</label>
                            <input type="text" [(ngModel)]="datos.datosPersonales.nombre" name="nombre" placeholder="Nombre">

                            
                            <label for="apellido " class="etiquetas">Apellidos:  &nbsp;</label>
                            <input type="text" [(ngModel)]="datos.datosPersonales.apellidos" name="apellido" placeholder="Apellidos">

                            </div>
                        </section>
                        <br>
                        <h5>Datos de Contacto</h5>
                        <hr class="lineasC">
                        <section #datosDinamicosP class="secciones">
                            <h6>Emails</h6>
                            <!-- emails dinamicos -->
                            <div id="emails" >
                                <div id="emails">
                                    <div *ngFor="let item of datos.contarEmails; let i=index">
                                        <span id="{{i}}"><input [(ngModel)]="datos.datosPersonales.emails[i]" type="email" placeholder="Email">  <button class="btnBorrar" (click)="borrarEmails(i)"><img src="./assets/trash.png" alt=""></button></span>
                                    </div>
                                    
                                </div>
                                
                                
                            </div>

                            <div class="acomodo pe-4">
                                <button class="btnMas" (click)="agregarEmail()"><img src="./assets/add.png" ></button>
                            </div>

                            <h6>Telefonos</h6>
                            <!-- Telefonos dinamicos -->
                            <div id="telefonos">
                                <div *ngFor="let item of datos.contarTelefonos; let i=index">
                                    <span id="{{i}}"><input [(ngModel)]="datos.datosPersonales.telefonos[i]" type="text" placeholder="Teléfono">  <button class="btnBorrar" (click)="borrarTelefonos(i)"><img src="./assets/trash.png" alt=""></button></span>
                                </div>
                                
                            </div>

                            <div class="acomodo pe-4">
                                <button class="btnMas" (click)="agregarTelefono()"><img src="./assets/add.png" ></button>
                            </div>
                        </section>

                    </div>
                   

                </div>
                <div class="ps-3 ">
                    <h4>Formación Académica</h4>
                    <hr class="lineasC">
                    <section  class="secciones">
                        <div id="academia" class="ps-3">
                            <div *ngFor="let item of datos.contarAca; let i=index">
                                <app-formacion-academica [id]="i"></app-formacion-academica>
                            </div>

                        </div>
                        <div class="formatoBtn">
                            <button class="btnMas" (click)="agregarAcademia()"><img src="./assets/add.png" ></button>
                        </div>
                    </section>
                    
                </div>
                <div class="ps-3">
                    <h4>Experiencia Laboral</h4>
                    <hr class="lineasC">
                    <div id="experiencia">
                        <div *ngFor="let item of datos.contarExp; let i=index">
                        <app-experiencia-laboral [id]="i"></app-experiencia-laboral>
                    </div>
                    </div>
                    <div class="formatoBtn">
                        <button class="btnMas" (click)="agregarExp()"><img src="./assets/add.png" ></button>
                    </div>
                </div>
                <div class="ps-3">
                    <h4>Habilidades</h4>
                        <hr class="lineasC" />
                        <div id="habilidades" >
                            <div *ngFor="let item of datos.contarHab; let i=index">
                                <app-habilidades [id]="i"></app-habilidades>
                                
                            </div>
                        </div>
                    <div class="formatoBtn">
                        <button class="btnMas"  (click)="agregarHab()"><img src="./assets/add.png" ></button>
                    </div>
                    
                </div>
            </div>
            <button  class="btnCrear" routerLink="/curriculum" >Crear</button>
            
        </div>
    </div>
</body>

